.app {
  text-align: center;
  margin-top: 30px;
  font-family: Arial;
}

.open-button {
  padding: 10px 22px;
  font-size: 16px;
  background: #0056ff;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 25px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.modal-content h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 18px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #0066ff;
  color: white;
  cursor: pointer;
}
